/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/

.banner {
  height: 100vh;
}
.overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-content {
  position: absolute;
  top: 12rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-title {
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .banner-title {
    font-size: 4.5rem;
  }
}

.banner-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .banner-subtitle {
    font-size: 2.5rem;
  }
}
